* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px;
    max-width: 1440px;
    margin: auto;
}

.hidden {
    display: none;
}
/*******************HEADER******************/

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    margin: 40px auto 20px;
}

/*******************SWITCHER******************/

.switcher {
    width: 100px;
    height: 30px;
    background: linear-gradient(180deg,#0099ae ,#00bf82 170%);
    -webkit-appearance:none;
    border-radius: 30px;
    outline: none;
    position: relative;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.5);
    font-size: 20px;
    margin-right: 100px;
    cursor: pointer;    
}

.switcher::before {
    content: 'Train';
    position: absolute;
    text-align: center;
    border-radius: 40%;
    background: linear-gradient(180deg,#0099ae,#00bf82 80%);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
    transition-duration: .5s;
    color: whitesmoke;
    box-sizing: border-box;
    width: 60px;
    height: 45px;
    line-height: 45px;
    left: 46px;
    top: -8px;
}

.switcher:checked {
    background: linear-gradient(180deg,#fd6a63,#feb46b);
    
}

.switcher:checked::before {
    content: 'Play';
    background: linear-gradient(180deg,#fd6a63,#feb46b);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
    left: 0;
    transition-duration: .5s;
    color: whitesmoke;
}

/*******************BURGER******************/

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 90px;
    z-index: 5;
    cursor: pointer;
}

.burger__line,
.burger::before,
.burger::after {
    transition: all 0.3s ease 0s;
   
    content: "";
    display: inline-block;
    position: absolute;
    background-color: navy;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    left: 0;
}
          
.burger::after {
    bottom: 0;
}
    
.burger__line {
    top: calc( 50% - 2px );
}

.burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
}

.burger-active {
   transform: scale(0);
}

.burger.active::after {
    transform: rotate(-45deg);
    top: 9px;
    transition: all 0.3s ease 0s;

}

.navigation {
    position: relative;    
}

.menu {
    background: linear-gradient(40deg,#00bf82,#0099ae);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: calc(100vh + 20px);
    margin: -100px 0 0;
    padding: 150px 50px 50px;
     list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transition: transform .5s cubic-bezier(.77,.2,.05,1); 
    transform: translate(-100%);
    z-index: 2;
}

.menu-active {
    transform: translate(0);
}

.menu-red {
    background: linear-gradient(-100deg,#ffd86f,#fc6262);
}

.menu__item {
    padding: 10px 0;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 60px;
    color: #fff;
    min-width: 145px;
    text-align: left;
}

.menu__item:hover {
    color: rgb(255, 115, 0);;
}

.link-active {
    text-decoration: underline;
    color: darkgreen ;
    font-weight: 500;
}
/*******************MAIN******************/

.main-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    text-decoration: none;
    color: #212529;
    margin: 20px 25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(180deg,#0099ae,#00bf82 40%,#fff 0,#fff);
    transition: all .5s linear;
}

.card-red {
    background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff);
    transition: all .5s linear;
}

.main-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid white;
    object-fit: cover;
    margin: 30px auto;
}

/*******************CATEGORY***************/
.card-container {   
    perspective: 500px; 
}

.card {
    display: flex;
    margin: 20px 25px;
    border-radius: 5px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .4);
    transition: box-shadow .25s linear, transform .8s ;
    box-sizing: border-box;
    justify-content: flex-end; 
    position: relative;
    width: 300px;
    height: 250px;
    transform-style: preserve-3d; 
}

.card:hover{
    box-shadow:-1px 5px 20px 0 rgba(0,0,0,.5)
}

.card__front, .card__back {
    transition: .3s;
    display: flex;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card__front, .card__back, .card__rotate {
    backface-visibility: hidden;
}

.card__back {
    transform: rotateY(180deg);
}

.card__word {
    margin-top: 200px;
    padding: 0 15px;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    pointer-events: none;
    background: #ffffff;
    color: #212529;
}

.card__rotate {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-image: url(../assets/img/rotate.png);
    width: 30px;
    height: 30px;
    background-size: 30px;
    cursor: pointer;
}

.translate {
    transform: rotateY(180deg);
}

.card-cover {
    background-size: cover;
    background-position: 50%;
}

.card-inactive {
    opacity: .5;
}

.cat-name {
    font-size: 30px;
    color: #212529;
}

/**************BUTTON*******************/

.btn-container {
    width: 100%;
    text-align: center;
}
.btn {
    padding: 20px 25px;
    margin: 20px auto;
    font-size: 24px;
    width: 100%;
    max-width: 650px;
    color: linen;
    background: linear-gradient(40deg,#ffd86f,#fc6262);
    border-radius: 10px;
    transition: .3s;
    border-width: 1px;
    cursor: pointer;
    outline: 0!important;
}

.repeat {
    width: 120px;
    height: 60px;
    font-size: 0;
    background-image: url(../assets/img/repeat.png), linear-gradient(40deg,#ffd86f,#fc6262);
    background-repeat: no-repeat;
    background-size: 40px, cover;
    background-position: 50%;
}

/*********************GAME************************/

.rating {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    line-height: 36px;
    height: 40px;
    overflow-x: hidden;
}

.star-correct {
    flex-shrink: 0;
    width: 40px;
    max-width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image:url(../assets/img/correct.png);
}

.star-error {
    flex-shrink: 0;
    width: 40px;
    max-width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image:url(../assets/img/error.png);
}

.game-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-result__info {
    font-size: 36px;
    color: #00bf82;
    font-weight: 600;
    text-align: center;

}

.game-result__image {
    width: 300px;
    height: 300px;
   background-repeat: no-repeat;
   background-size: contain;
   margin: 70px auto;
  
}

/*************STATS********************/

.table {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    position: absolute;
    padding: 5% 0;
    top: 0;
    left: 0;
   width: 100%;
   z-index: 10;
}


.col {
    width: 33%;
    text-align: center;
}

  .table-cell {
    color:  #212529;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;  
    padding: 15px;
    overflow: hidden; 
    list-style: none;
    border: 1px solid darkgreen;
    background: snow;
    font-size: 20px;
  }

  .col-name {
    font-weight: 800;
  }
  
  .stats-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 30px;
    color: #212529;
  }
  
  .stats-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid green;
  }
  
  .stats-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .stats-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .stats-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .stats-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .arrow-up {
      position: absolute;
      width: 20px;
      height: 30px;
      background-size: 32px;
      background-repeat: no-repeat;
      background-position: center;
    cursor: pointer;
  }

  .arrow-down {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
  cursor: pointer;
}

/*******************MEDIA******************/

@media (max-width: 767px)  {

.switcher {
    margin-right: 20px;
}

.burger {
    margin-left: 20px;
}

.stats-container {
    font-size: 17px;
    font-weight: 600;
}

}