* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px;
    max-width: 1440px;
    margin: auto;
}

.hidden {
    display: none;
}

/*******************HEADER******************/

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    margin: 40px auto 20px;
}

/*******************SWITCHER******************/

.switcher {
    width: 120px;
    height: 50px;
    background: lightskyblue;
    -webkit-appearance:none;
    border-radius: 30px;
    outline: none;
    position: relative;
    box-shadow: inset 0 0 12px 0 yellow;
    font-size: 20px;
    margin-right: 100px;
}

.switcher::before {
    content: 'train';
    position: absolute;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(180deg,#0099ae,#00bf82 80%);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
    left: 54px;
    top: -8px;
    transition-duration: .5s;
    color: whitesmoke;
    box-shadow: inset 0 0 6px 0 yellow;
}

.switcher:checked {
    background: rgb(248, 248, 181);
}

.switcher:checked::before {
    content: 'play';
    background: linear-gradient(180deg,#fd6a63,#feb46b 90%);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.5);
    left: 0;
    transition-duration: .5s;
    color: whitesmoke;
    box-shadow: inset 0 0 6px 0 yellow;
}

/*******************BURGER******************/

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 90px;
    z-index: 5;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(.77,.2,.05,1);   
}

.burger__line,
.burger::before,
.burger::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: navy;
    border-radius: 5px;
    width: 100%;
    height: 4px;
    left: 0;
}
    
.burger::before {
    top: 0;
}
      
.burger::after {
    bottom: 0;
}
    
.burger__line {
    top: calc( 50% - 2px );
}

.burger-active {
    transform: rotate(90deg); 
    transition: transform 0.5s cubic-bezier(.77,.2,.05,1);   
}

.navigation {
    position: relative;    
}

.menu {
    background: linear-gradient(40deg,#00bf82,#0099ae);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 380px;
    height: calc(100vh + 20px);
    margin: -100px 0 0;
    padding: 150px 50px 50px;
    /* left: calc(675px - 50vw); */
    /* background: linear-gradient(40deg,#ffd86f,#fc6262); */
     list-style-type: none;
    -webkit-font-smoothing: antialiased;
     /* transform-origin: 0 0; */
    transition: transform .5s cubic-bezier(.77,.2,.05,1); 
    transform: translate(-100%);
    z-index: 2;
}

.menu-active {
    transform: translate(0);
}

.menu__item {
    padding: 10px 0;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 60px;
    color: #fff;
    min-width: 145px;
    text-align: left;
}

.menu__item:hover {
    color: rgb(255, 115, 0);
}

.link__active {
    text-decoration: underline;
    color:  rgb(255, 115, 0);;
    font-weight: 500;
}
/*******************MAIN******************/

.main-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    text-decoration: none;
    color: black;
    margin: 20px 25px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(180deg,#0099ae,#00bf82 40%,#fff 0,#fff);
    transition: all .5s linear;
}

.red {
    background: linear-gradient(180deg,#fd6a63,#feb46b 40%,#fff 0,#fff);
    transition: all .5s linear;
}

.main-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 10px solid white;
    object-fit: cover;
    margin: 30px auto;
}

/*******************CATEGORY***************/
.card-container {   
    perspective: 500px; 
}

.card {
    display: flex;
    margin: 20px 25px;
    border-radius: 5px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .4);
    transition: box-shadow .25s linear, transform .8s ;
    box-sizing: border-box;
    justify-content: flex-end; 
    position: relative;
    width: 300px;
    height: 250px;
    transform-style: preserve-3d; 
}

.card:hover{
    box-shadow:-1px 5px 20px 0 rgba(0,0,0,.5)
}

.card__front, .card__back {
    transition: .3s;
    display: flex;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card__front, .card__back, .card__rotate {
    backface-visibility: hidden;
}

.card__back {
    transform: rotateY(180deg);
}

.card__word {
    margin-top: 200px;
    padding: 0 15px;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    pointer-events: none;
    background: #ffffff;
    color: #212529;
}

.card__rotate {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-image: url(../assets/img/rotate.png);
    width: 30px;
    height: 30px;
    background-size: 30px;
}

.translate {
    transform: rotateY(180deg);
}

.card__cover {
    background-size: cover;
    background-position: 50%;
}

/**************BUTTON*******************/
.btn-container {
    width: 100%;
    text-align: center;
}
.btn {
    padding: 20px 25px;
    margin: 20px auto;
    font-size: 24px;
    width: 100%;
    max-width: 650px;
    color: linen;
    background: linear-gradient(40deg,#ffd86f,#fc6262);
    border-radius: 10px;
    transition: .3s;
    border-width: 1px;
}